/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/*    id    */
#logo-long{
  width: 150px;
}

#user-profile-logo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#user-profile-logo-big{
  border: 3px solid #1aac83;
}

/* Toaster */
.react-hot-toast__progress-bar {
  background-color: #4caf50; /* Green progress bar */
  height: 4px; /* Thickness of the progress bar */
}

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.custom-dropdown{
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: .3s;
}

.custom-dropdown:hover {
  border-color: #888;
}

.custom-dropdown:focus {
  outline: none;
  box-shadow: 0 0 5px var(--primary);
  border-color: var(--primary);
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  transition: .4s;
  width: 100%;
  margin-bottom: 10px;
}

form button:hover{
  transform: translate(0px, 2px);
}
/* need fix */
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

/* resume.js */

.resume-wrapper {
  position: relative; /* Establish a positioning context for children */
  display: flex; /* Optional: Keeps the layout inline if necessary */
  margin-bottom: 20px; /* Add space between items */
}

.resume-image {
  width: 80%;
  box-shadow: 1px 0px 35px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.5s;
  animation: left-to-right 1s;
}

.resume-image:hover {
  width: 82%;
}

.btn-container-photos{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  animation: delayedUp 2s;
}

.btn-container-photos .another{
  position: relative;
  right: 20%;
  background-color: #69696954;
  border-radius: 5px;
  padding: 10px 20px 5px 20px;
  display: flex;
  gap: 10px;
}

.btn-container-photos img{
  width: 40px;
}



.file-btns{
  position: absolute;
  right: 25%;
  display: flex;
  gap: 10px;
}

.delete-svg {
  width: 30px;
  position: relative;
  transition: .4s;
}

.delete-svg:hover {
  transform: scale(1.2); 
  cursor: pointer;
}

.download-svg {
  width: 30px;
  position: relative;
  transition: .4s;
}

.download-svg:hover {
  transform: scale(1.2); 
  cursor: pointer;
}


input[type="file"]::file-selector-button {
  background-color: #1aac83;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} 

.green-btn{
  width: 100%;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}

.green-btn:hover{
  transform: translate( 0px, 4px);
}

.resumeForm{
  border-radius: 5px;
  padding: 20px 20px 20px 40px;
  height: 100%;
  border-left: 4px solid #1aac838b;
}

.resumeForm .small-icons-container{
  display: flex;
  gap: 10px;
} 

.small-icon{
  transition: .4s;
}

.small-icon:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.resumeForm .small-icons-container .small-icons{
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.resumeForm .small-icons-container img{
  width: 30px;
}

.resumeForm .small-icons-container .question{
  align-self: flex-end;
  cursor: pointer;
  transition: .4s;
}

.resumeForm .small-icons-container .question:hover{
  transform: scale(1.2);
}

.resumeForm .message-container{
  background-color: rgb(227, 227, 227);
  border-radius: 15px;
  margin-top: 10px;
  transition: .4;
  overflow-y: hidden;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resumeForm .message-container span{
  padding: 10px 30px 0 30px;
  font-weight: bold;
  margin: 0;
}

.resumeForm .message-container ul{
  margin: 0;
}

.resumeForm .message-container .bottom-note{
  font-weight: normal;
  color: black;
  font-size: 0.8rem;
  font-style: italic;
  margin: 0;
  align-self: flex-end;
  padding: 0 10px 5px 0;
}

/* END resume/js */

/* Nightmode */
.nightmode{
  position: fixed;
  bottom: 18px;
  right: 19px;
  border-radius: 50%;
  background-color: #555;
  width: 50px;
  height: 50px;
  transition: .4s;
  z-index: 3;
}
.nightmode:hover{
  background-color: #272727;
  cursor: pointer;
}

.nightmode img{
  position: fixed;
  bottom: 30px;
  right: 31px;
  width: 25px;
  transition: .4s;
}

/* .delete-svg{
  width: 30px;
  position: absolute;
  opacity: 0.4;
  transform: translate(6px, 6px);
  transition: .4s;
}

.delete-svg:hover{
  width: 35px;
  opacity: 0.8;
  cursor: pointer;
} */

.no-file{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-file img{
  width: 100px;
  opacity: .6;
}

.no-file p{
  font-size: 1.5rem;
  opacity: .6;
}

.file-preview{
  width: 80%;
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px rgba(86, 86, 86, 0.4);
  transition: .4s;
  overflow-x: hidden;
}

.file-preview:hover{
  box-shadow: 0px 0px 20px 0px rgba(86,86,86,0.6);
  cursor: pointer;
}

.file-preview span{
  font-size: 1.2rem;
  font-weight: 500;
}

.file-icon{
  width: 60px;
  margin: 20px;
}

.file-pdf{
  background-color: #ff8282;
  transition: .4s;
}

.file-pdf:hover{
  background-color: #ff6a6a;
}

.file-doc{
  background-color: #82c9ff;
  transition: .4s;
}

.file-doc:hover{
  background-color: #58b7ff;
}

.file-docx{
  background-color: #82c9ff;
  transition: .4s;
}

.file-docx:hover{
  background-color: #58b7ff;
}

.file-ppt{
  background-color: #ffa182;
  transition: .4s;
}

.file-ppt:hover{
  background-color: #ff8962;
}

.file-pptx{
  background-color: #ffa182;
  transition: .4s;
}

.file-pptx:hover{
  background-color: #ff8962;
}

/* Info modal */
.info-modal{
  background-color: rgba(255, 255, 255, 0.8);
  width: 500px;
  height: 500px;  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1.5px rgb(109, 109, 109);
  border-radius: 10px;
  box-shadow: 2px 2px 25px rgba(0,0,0,.3);
  transition: .5s;
  z-index: 3;
  animation: topToMid .5s ease;
  overflow-y: scroll;
}

.info-modal .top{
  text-align: center;
  margin: 20px 80px;
}

.info-modal .title{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.info-modal .name{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.info-modal .nametag{
  margin: 0;
  margin-bottom: 30px;
  font-size: 1.1rem;
  text-align: center;
}

.stack-container{
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.stack-container img{
  width: 60px;
  transition: .4s;
}

.stack-container img:hover{
  width: 65px;
}

.tech{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech span{
  margin-top: 10px;
  margin-bottom: 50px;
}

.info-modal .img-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-modal .profile{
  width: 140px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

.react:hover{
  animation: spin 2s linear infinite;
}

.info-modal .logo-container{
  display: flex;
  justify-content: center;
}

.info-modal .logo{
  width: 150px;
}
/* DARK BG*/
.darkbg{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 2;
  animation: fadeIn .5s ease;
}

.to-certificate{
  transition: .4s;
  text-decoration: none;
  color: black;
}
.to-certificate:hover{
  text-decoration: underline;
  cursor: pointer;
}
/* Login + SignUp || navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

.director-container{
  width: 100%;  
}

.director-container{
  text-align: center;
}

.link-to-other-form{
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(54, 54, 54);
}

.link-to-other-form:hover{
  text-decoration: underline;
}

/* auth forms */
form.signup {
  width: 700px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

form.login{
  width: 400px;
  margin: 40px auto;
  padding: 20px 20px 20px 20px;
  background: #fff;
  border-radius: 4px;
}

form .dual-input{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.dual-entry{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  width: 90%;
}

.an-input{
  display: flex;
  justify-content: center;
  align-items: center;
}

.an-input input{
  margin: 0;
}

.an-input label{
  position: relative;
  top: -5px;
}

nav .hidden{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  width: 150px;
  border-radius: 5px;
  animation: right-to-left .5s;
  right: 10px;
  border: 2px solid var(--primary);
  background-color: white;
}

nav .hidden.closing {
  animation: left-to-right-new .5s forwards;
}

nav .hidden .btn-close{
  text-align: center;
  color: var(--error);
  padding: 5px;
  transition: .4s;
}

nav .hidden .btn-close:hover{
  cursor: pointer;
  background-color: #e7195a5a;
}

nav .hidden .btn{
  padding: 10px;
  border-bottom: 1px var(--primary) solid;
  transition: .4s;
  color: var(--primary);
  font-weight: bold;
}

nav .hidden .btn:hover{
  background-color: #e6e6e6;
  cursor: pointer;
}

nav .hidden .btn:active{
  background-color: #a7a7a7;
  cursor: pointer;
}

nav .hidden img{
  width: 20px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

nav .profile-name{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  transition: .4s;
  border-radius: 15px;
}

nav .profile-name:hover{
  cursor: pointer;
  background-color: #e7e6e6;
}

nav .profile-name:active{
  background-color: #c5c5c5;
}


/* Profile Modal */
.profile-modal{
  background-color: rgba(248, 248, 248, 0.9);
  width: 800px;
  height: auto;  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1.5px rgb(109, 109, 109);
  border-radius: 15px;
  box-shadow: 2px 2px 25px rgba(0,0,0,.3);
  transition: .5s;
  z-index: 3;
  animation: topToMid .5s ease;
}

.profile-modal .modal-context{
  display: flex;
}
.profile-modal .left{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.profile-modal .left img{
  width: 150px;
  display: inline-block;
  border: 2px black solid;
  border-radius: 5px;
  margin-top: 15px;
}

.profile-modal .right{
  width: 60%;
  margin-bottom: 50px;
  padding-left: 20px;
  border-left: 3px dashed rgb(117, 117, 117);
}

.profile-modal .right label{
  font-weight: bold;
  margin-top: 15px;
}

.profile-modal .right span{
  font-size: 1.5rem;
}

.label-editing{
  margin: 0 10px 0 0;
  font-size: 0.9rem;
}

.profile-modal .right input{
  margin-top: 0;
  width: 90%;
}

.profile-modal h2{
  text-align: center;
  font-size: 2rem;
}

.profile-modal.closing {
  animation: midToTop 0.5s ease;
}

.profile-modal .upload-profile{
  background-color: #1aac83;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s;
}

.profile-modal .upload-profile:hover{
  background-color: #58bda1;
}

.profile-modal .upload-profile:active{
  background-color: #6dceb2;
  transform: translate(0px, 10px);
}

.darkbg.closing {
  animation: fadeout 0.5s ease;
}

.profile-modal .btn-container{
  display: flex;
  justify-content: flex-end;
  border-top: 2px solid var(--primary);
}

.profile-modal .btn-container span{
  border: solid var(--primary) 2px;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 10px 20px 10px 0;
  color: var(--primary);
  width: 50px;
  text-align: center;
  transition: .4s;
}

.logout-modal{
  background-color: rgba(255, 255, 255, 0.8);
  width: auto;
  height: auto;  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1.5px rgb(109, 109, 109);
  border-radius: 10px;
  box-shadow: 2px 2px 25px rgba(0,0,0,.3);
  transition: .5s;
  z-index: 3;
  padding: 10px 25px;
  animation: topToMid .5s ease;
  overflow-y: scroll;
}

.logout-modal .heading{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  display: block;
  margin: 10px;
}

.logout-modal .message{
  font-size: 1.1rem;
  text-align: center;
  display: block;
  margin: 10px;
}

.logout-modal .logout-btns{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0px 10px 0px;
}

.logout-modal .logout-btns span{
  border: 2px solid var(--primary);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--primary);
}

.logout-modal .logout-btns .confirm{
  transition: .4s;
}

.logout-modal .logout-btns .confirm:hover{
  cursor: pointer;
  color: white;
  background-color: var(--primary);
}

.logout-modal .logout-btns .cancel{
  border: 2px solid var(--error);
  color: var(--error);
  transition: .4s;
}

.logout-modal .logout-btns .cancel:hover{
  border: 2px solid var(--error);
  cursor: pointer;
  color: white;
  background-color: var(--error);
}






.btn-container .edit:hover{
  background-color: var(--primary);
  cursor: pointer;
  color: white;
}

.btn-container .close-profile:hover{
  background-color: var(--error);
  cursor: pointer;
  color: white;
  border: 2px solid var(--error);
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes topToMid {
    0%{
      opacity: 0;
      top: -100px;
    }
    100%{
      opacity: 1;
      top: 50%;
    }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: .5;
  }
}

@keyframes left-to-right {
  0%{
    transform: translate(-100px, 50px);
    opacity: 0;
    width: 70%;
  }
  50%{
    opacity: .5;
  }
  100%{
    transform:translate((0px, 0px));
    opacity: 1;
    width: 80%;
  }
}

@keyframes right-to-left {
  0%{
    right: -50px;
    opacity: 0;
  }
  100%{
    right: 10px;
    opacity: 1;
  }
}

@keyframes left-to-right-new {
  0% {
    right: 10px;
    opacity: 1;
  }
  100% {
    right: -150px;
    opacity: 0;
  }
}

@keyframes midToTop {
  0% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: -100px;
  }
}

@keyframes fadeout {
  0%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
  }
}

@keyframes delayedUp {
  0%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}