/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/*    id    */
#logo-long{
  width: 150px;
}

#user-profile-logo{
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
  border: 3px solid #1aac83;
}
/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  transition: .4s;
}

form button:hover{
  transform: translate(-2px, 2px);
}
/* need fix */
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

/* resume.js */

.resume-wrapper {
  position: relative; /* Establish a positioning context for children */
  display: inline-block; /* Optional: Keeps the layout inline if necessary */
  margin-bottom: 20px; /* Add space between items */
}

.resume-image {
  width: 90%;
  box-shadow: 1px 0px 35px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.5s;
  animation: left-to-right 1s;
}

.resume-image:hover {
  width: 93%;
}

.delete-svg {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  width: 25px; 
  height: 25px;
  cursor: pointer; 
  z-index: 2; 
  transition: transform 0.4s ease; 
  opacity: 0.5;
}

.delete-svg:hover {
  transform: scale(1.2); 
  opacity: 1;
}


input[type="file"]::file-selector-button {
  background-color: #1aac83;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} 

.green-btn{
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  transition: .4s;
}

.green-btn:hover{
  transform: translate( 0px, 4px);
}

.resumeForm{
  border-radius: 5px;
  padding: 20px;
  height: 100%;
}
/* END resume/js */

/* Nightmode */
.nightmode{
  position: fixed;
  bottom: 18px;
  right: 19px;
  border-radius: 50%;
  background-color: #555;
  width: 50px;
  height: 50px;
  transition: .4s;
  z-index: 3;
}
.nightmode:hover{
  background-color: #272727;
  cursor: pointer;
}

.nightmode img{
  position: fixed;
  bottom: 30px;
  right: 31px;
  width: 25px;
  transition: .4s;
}

/* .delete-svg{
  width: 30px;
  position: absolute;
  opacity: 0.4;
  transform: translate(6px, 6px);
  transition: .4s;
}

.delete-svg:hover{
  width: 35px;
  opacity: 0.8;
  cursor: pointer;
} */

.no-file{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-file img{
  width: 100px;
  opacity: .6;
}

.no-file p{
  font-size: 1.5rem;
  opacity: .6;
}

/* Info modal */
.info-modal{
  background-color: rgba(255, 255, 255, 0.8);
  width: 500px;
  height: 500px;  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1.5px rgb(109, 109, 109);
  border-radius: 10px;
  box-shadow: 2px 2px 25px rgba(0,0,0,.3);
  transition: .5s;
  z-index: 3;
  animation: topToMid .5s ease;
  overflow-y: scroll;
}

.info-modal .top{
  text-align: center;
  margin: 20px 80px;
}

.info-modal .title{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.info-modal .name{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.info-modal .nametag{
  margin: 0;
  margin-bottom: 30px;
  font-size: 1.1rem;
  text-align: center;
}

.stack-container{
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.stack-container img{
  width: 60px;
  transition: .4s;
}

.stack-container img:hover{
  width: 65px;
}

.tech{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech span{
  margin-top: 10px;
  margin-bottom: 50px;
}

.info-modal .img-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-modal .profile{
  width: 140px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

.react:hover{
  animation: spin 2s linear infinite;
}

.info-modal .logo-container{
  display: flex;
  justify-content: center;
}

.info-modal .logo{
  width: 150px;
}
/* DARK BG*/
.darkbg{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 2;
  animation: fadeIn .5s ease;
}

/* Login + SignUp || navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}
/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

nav .hidden{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  width: 150px;
  border-radius: 5px;
  animation: right-to-left 1s;
  right: 10px;
  border: 2px solid var(--primary);
  background-color: white;
}

nav .hidden.closing {
  animation: left-to-right-new .5s forwards;
}

nav .hidden .btn-close{
  text-align: center;
  color: var(--error);
  padding: 5px;
  transition: .4s;
}

nav .hidden .btn-close:hover{
  cursor: pointer;
  background-color: #e7195a5a;
}

nav .hidden .btn{
  padding: 10px;
  border-bottom: 1px var(--primary) solid;
  transition: .4s;
  color: var(--primary);
  font-weight: bold;
}

nav .hidden .btn:hover{
  background-color: #e6e6e6;
  cursor: pointer;
}

nav .hidden .btn:active{
  background-color: #a7a7a7;
  cursor: pointer;
}

nav .hidden img{
  width: 20px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}

nav .profile-name{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  transition: .4s;
  border-radius: 15px;
}

nav .profile-name:hover{
  cursor: pointer;
  background-color: #e7e6e6;
}

nav .profile-name:active{
  background-color: #c5c5c5;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes topToMid {
    0%{
      opacity: 0;
      top: -100px;
    }
    100%{
      opacity: 1;
      top: 50%;
    }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: .5;
  }
}

@keyframes left-to-right {
  0%{
    transform: translate(-100px, 50px);
    opacity: 0;
    width: 70%;
  }
  50%{
    opacity: .5;
  }
  100%{
    transform:translate((0px, 0px));
    opacity: 1;
    width: 90%;
  }
}

@keyframes right-to-left {
  0%{
    right: -50px;
    opacity: 0;
  }
  100%{
    right: 10px;
    opacity: 1;
  }
}

@keyframes left-to-right-new {
  0% {
    right: 10px;
    opacity: 1;
  }
  100% {
    right: -150px;
    opacity: 0;
  }
}